<h3 class="ui header">{{t "forms.i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e.номер-caption")
      data-test-i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDжильца
      class=(if (v-get validationModel "iDжильца" "isInvalid") "error")
      label=(t "forms.i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e.iDжильца-caption")
      data-test-i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e-iDжильца=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDжильца" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDорганизация
      class=(if (v-get validationModel "iDорганизация" "isInvalid") "error")
      label=(t "forms.i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e.iDорганизация-caption")
      data-test-i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e-iDорганизация=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDорганизация" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDсотрудника
      class=(if (v-get validationModel "iDсотрудника" "isInvalid") "error")
      label=(t "forms.i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e.iDсотрудника-caption")
      data-test-i-i-s-upravlyayushhaya-kompaniya-перерасчет-к-у-e-iDсотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDсотрудника" "message")}}
  </div>
</form>
